
$header-height: 48px;
$arrow-size: 16px;


.notif-menu-container {
    position: relative;
    width: 420px;
    height: 80vh;
    max-height: 600px;
    z-index: 5;


    .notif-triangle {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        right: 7px;
        z-index: 99;
        // float: right;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid #364D9B;
    }

    .notif-menu {
        position: relative;
        top: 16px;
        border-radius: 8px;
        max-height: 100%;
        box-shadow: 0 12px 28px 0 #00000088;
        overflow: auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        // padding: 2px;
        // box-sizing: border-box;

        .header {
            position: sticky;
            top: 0;
            height: $header-height;
            background-color: #364D9B;
            border-radius: 8px 8px 0 0;
            color: white;
            font-size: 16px;
            font-weight: bold;
            line-height: $header-height;
            vertical-align: middle;
            text-align: center;
        }

        .notif-list {
            overflow: auto;
            padding: 16px;
        }
    }
}

.notif-item {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid grey;

    .image {
        padding: 8px;

        > img {
            width: 32px;
            height: 32px;
        }
    }

    .notif-text {
        font-size: 13px;
        padding: 8px;
        color: black;
        
        .bold {
            font-weight: bold;
        }

        .normal {
            font-weight: normal;
        }
    }

        margin-bottom: 2px;
}