.road-form {
    .input {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 1em;
    
        label {
            color: gray;
        }
        
        .error-container {
            margin-top: 0.5em;
        }
    }
}