.my-event-item {
    background-color: white;
    box-shadow: 0px 4px 4px #bababa;
    margin-bottom: 16px;
    // display: flex;
    flex-flow: row wrap;

    .card-title{
        font-size: 30px;
        padding-left: 230px;
    }

    .card-body{
        font-size: 15px;
        text-align: left;
        line-height: 30px;
    }

    .event-image {
        flex: 0 0 auto;
        width: 160px;
        height: 160px;
        margin: 8px 24px 0px 8px;


        &.place-holder {
            background-color: #bababa;
        }
    }
    .cancel-wrapper  {
        flex: 0 0 100%;
        text-align: right;
        padding: 12px 0;

        button {
            border: none;
            background-color: transparent;
            // color: $grey;

            &:hover {
                color: red;
            }
        }
    }
    .HirerAction{
        padding: 12px 0;
        width: 100%;
    }
.my-event-info {
    background-color: white;
}
}