.approve-musician {
    
    .card {
        margin: 8px;
        font-size: 0.75em; 
        
        img {
            height: 128px;
            object-fit: cover;
        }

        .user-info {
            .field-name {
                font-weight: bold;
            }
    
            .field-value {
    
            }
        }
    }
}