@import "src/styles/color.scss";
.view-profile {
    height: 100%;
    .pic {
        height: 150px;
    }
    .posit{
        position: absolute;
        right:45px;
        bottom:30px;
    }
    .posit2{
        position: absolute;
        right:45px;
        bottom:70px;
    }

    .address{
        height: 190px;
        border-style: solid;
        border-color: lightgrey;
        border-width: thin;
        padding: 5px 10px 5px 10px
    }

    .Image {
        height: 150px;
        weight: 125px;
    }
    .high{    
        height: 100%;
    }
    .size{
        font-size:28px;
    }
    .textcolor{
        color:darkblue;
        word-wrap: break-word;
    }
    .ReviewTitle{
        color: white;
        text-align: center;
        margin-left: 30px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 14px;
    }
    .ReviewContainer{
        background-color: $dark-navy;
    }
}
