.view-profile {

    .pic {
        height: 150px;
    }
    .posit{
        position: absolute;
        right:45px;
        bottom:30px;
    }

    .address{
        height: 190px;
        border-style: solid;
        border-color: lightgrey;
        border-width: thin;
        padding: 5px 10px 5px 10px
    }

    .img {
        height: 125px;
        weight: 125px;
    }

}