@import '../../../styles/color.scss';

// container
.my-applications {
    background-color: white;
    min-height: 100%;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;

    .title {
        color: $navy;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        background: white;
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    }

    .no-application {
        text-align: center;
        font-size: 1.5em;
        color: #888;

        .icon {
            font-size: 2em; // 1.5 * 2 = 3em
        }
    }

}

.applied-event-item {
    background-color: white;
    box-shadow: 0px 4px 4px #bababa;
    margin-bottom: 16px;
    display: flex;
    flex-flow: row wrap;
    
    &.cancelled {
        filter: grayscale(90%);
    }
    

    .event-image-container {
        position: relative;
        align-self: flex-start;

        .banner-container {
            position: absolute;
            // same as event-image
            top: 0;
            left: 0;
            bottom: 0;
            right: 24px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;

            .banner {
                width: 100%;
                background: $navy;
                color: white;
                font-size: 24px;
                padding: 8px 0;
                text-align: center;
                display: none;

                &.show {
                    display: block;
                }
            }
        }
    }
    .event-image {
        flex: 0 0 auto;
        width: 160px;
        height: 160px;
        margin: 8px 24px 0px 8px;
        
        &.place-holder {
            background-color: #bababa;
        }
    }

    .event-info {
        flex: 1; // magic to fill remaining space

        .event-name {
            font-size: 32px;
            font-weight: bold;
            color: $dark-navy;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .desc {
            display: flex;
            flex-flow: row nowrap;

            > * {
                font-size: 14px;
                color: $dark-navy;
            }

            > .label {
                flex: 0 0 180px;
                font-weight: bold;
            }

            > .value {
                flex: 1 0 0;
                word-wrap: break-word;
            }
        }

        .link-btn {
            cursor: pointer;
            border: none;
            background-color: transparent;
            text-decoration: underline;
        }
    }
    
    .price-tag {
        flex: 0 0 auto;
        color: $dark-navy;
        text-align: right;
        padding-right: 16px;

        .price {
            font-size: 32px;
            font-weight: bold;
            line-height: 32px; // reduce spacing
        }
        
        .currency {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .cancel-wrapper  {
        flex: 0 0 100%;
        text-align: right;

        button {
            border: none;
            background-color: transparent;
            color: $grey;

            &:hover {
                color: red;
            }
        }
    }
}