.sidebar {
    background-color: black;
    height: 100%;

    .sidebar-item {
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
        background-color: black;
        color: #D7D7D7;
        text-decoration: none;

        &.active {
            background-color: #364D9B;
        }
    }
}

