@import '../../../../styles/color.scss';

.event-info-dialog {
    width: 500px;
    background-color: white;
    padding: 32px;
    position: relative;
    width: 80vw;
    max-width: 768px;

    .top-right {
        position: absolute;
        top: 1em;
        right: 1em;
    }

    .title {
        color: $navy;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    }

    .image {
        text-align: center;

        > img {
            width: 288px;
            height: 288px;
            border-radius: 50%;
            margin: 32px 0;
        }
    }

    .desc {
        display: flex;
        flex-flow: row nowrap;
    
        > * {
            font-size: 14px;
            color: $dark-navy;
        }
    
        > .label {
            flex: 0 0 180px;
            font-weight: bold;
        }
    
        > .value {
            flex: 1 0 0;
            word-wrap: break-word;
        }
    }
}
