@import "src/styles/color.scss";
.register-page {

    // height: 100vh;
    // max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    // background-color: $dark-navy;
    // background-image: image('bg-1.png');
    // background-size: cover;
    position: absolute;
    flex-direction: column;
    // background-color: black;


    .container {
        margin-top: 64px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        max-width: 768px;
        padding: 16px 32px;  
        background-color: white;
        position: relative;
        display: block;
        
        
        
        h1 {
            text-align: center;
            font-weight: bold;
        }

        .upload-image {
            position: relative;
            flex: 0 0 192px;
            min-height: 192px;
            // align-items: center;
            img {
                height: 192px;
                width: 192px;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                width: 192px;
                height: 192px;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-size: 64px;
                

                > div {
                    background-color: transparent;
                    color: transparent;
                    text-align: center;
                    vertical-align: middle;
                    border-radius: 50%;
                }

                &.force-show > div {
                    color: rgba(64, 64, 64, 0.3);
                }
                &:hover > div {
                    color: rgba(255, 255, 255, 0.7);
                }
                &:hover {
                    background-color: rgba(48, 18, 18, 0.3);
                }

            }

        }
    }
}

.register-cover-image {
    width: 100%;
    height: 75vh; // navbar and headline
    object-fit: cover;
    z-index: -1;
    flex-direction: column;
    // overflow: auto;
    display: grid;
    // flex-wrap: wrap;

    
   


    &.register-bg-image {
        position: absolute;
        left: 0%;
        height: 75vh; 
        // opacity: 0.65;
    }
}

.register-cover-image2 {
    width: 100%;
    height: 75vh; // navbar and headline
    object-fit: cover;
    z-index: -1;
    flex-direction: column;
    overflow: auto;
    display: grid;
    flex-wrap: wrap;
    top:700px;

    &.register-bg-image2 {
        position: absolute;
        left: 0%;
        height: 75vh; 
        // opacity: 0.65;
    }
}

