@import "src/styles/color.scss";

.head-text {
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Container {


  .EventInfo {
    // margin: 0.1rem;
    // width: 500px;
    // height: 500px;
    background-color: white;
    // box-shadow: 0px 4px 4px #bababa;
    margin-right: auto;
    margin-left: auto;
    // padding-left:10px ;
    padding-bottom: 12px;
    display: inline-block;
    max-width: 50%;

    .Title {
      color: $navy;
      font-size: 40px;
      text-align: center;
      font-weight: bold;
    }

    .Image {
      display: block;
      float: top;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    .Description {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 0.5em;

      > * {
        font-size: 14px;
        color: $dark-navy;
      }
      > .Label {
        flex: 0 0 180px;
        font-weight: bold;
      }

      > .Value {
        flex: 1 0 0;
        word-wrap: break-word;
      }
    }

    .SetRight {
      padding-right: 3px;
    }

    .edit {
      margin-top: 20px;
    }
  }

  .AppliedMusician {
    // margin: 0.1rem;
    // width: 500px;
    // height: 500px;
    max-width: 50%;
    background-color: $dark-navy;
    // box-shadow: 0px 4px 4px #bababa;
    margin-right: auto;
    margin-left: auto;
    // margin-left: 10px;
    display: inline-block;
    float:right;


  }
  .NoApplicant{
    background-color: white;
    font-weight: bold;
    font-size: 20px;
  }

}
