$dark-navy: #303e61;
$navy: #364d9b;
$light-navy: #989db1;


.user-report-page {

}

.report-item {
    padding: 8px 16px;
    
    &:not(:last-child) {
        border-bottom: 1px solid #dadada;
    }

    .topic {
        font-size: 24px;
        font-weight: bold;
        color: $dark-navy;
    }

    .info {

        .info-l {
            float: left;
            font-size: 16px;
            color: $navy;
        }

        .info-r {
            font-size: 16px;
            float: right;
            color: $light-navy;
        }
    }
}

.report-dialog {
    background-color: white;
    padding: 48px;
    box-sizing: content-box;

    .topic {
        font-weight: bold;
        font-size: 30px;
        color: $navy;
        margin-bottom: 24px;
    }

    .offender {
        font-size: 16px;
        color: $navy;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .description {
        font-size: 16px;
        font-weight: 100;
        color: $navy;
        margin-bottom: 32px;
    }

    .reporter, .timestamp {
        color: $light-navy;
        font-size: 16px;;
    }

    .reporter {
        float: left;
    }

    .timestamp {
        float: right;
    }


}