$dark-navy: #303e61;
$navy: #364d9b;
$light-navy: #989db1;


.user-report-page {

}

.report-item {
    padding: 8px 16px;
    
    &:not(:last-child) {
        border-bottom: 1px solid #dadada;
    }

    .topic {
        font-size: 24px;
        font-weight: bold;
        color: $dark-navy;
    }

    .info {

        .info-l {
            float: left;
            font-size: 16px;
            color: $navy;
        }

        .info-r {
            font-size: 16px;
            float: right;
            color: $light-navy;
        }
    }
}