.user-item.card {
    margin: 8px;
    font-size: 0.75em; 
    
    img {
        height: 128px;
        border-radius: 16px;
        object-fit: cover;
    }

    .user-info {
        .field-name {
            font-weight: bold;
        }

        .field-value {

        }
    }

    .badge {
        font-size: 12px;
    }
}