.user-item.card {
    width: 224px;
    font-size: 0.75em; 
    
    img {
        width: 192px;
        height: 192px;
        object-fit: cover;
    }


    .bg-gray {
        background-color: lightgrey;
    }

    .user-info {
        .field-name {
            font-weight: bold;
        }

        .field-value {

        }
    }

    .badge {
        font-size: 12px;
    }
}